.card{
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    background-color: #080C35;
    margin : 10px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 20px;
}

.card-top{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  line-height: 40px;
  font-weight: 500;
  height: 40px;
  margin-top: 10px;
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 5px;
}

.card-body p{
  margin: 5px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}

.card-bottom{
  padding: 5px;
  position: absolute;
  bottom: 0;
  right: 0;
}

.card-bottom button{
  background:none;
  border: none;
  outline: none;
  cursor: pointer;
}
.card-bottom button img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(137deg) brightness(103%) contrast(101%);
}